.link-resonite {
    background: linear-gradient(in hsl longer hue 90deg, red 0 0);
    height: 2.75rem;
    text-shadow: 0px 0px 5px black;
}

.link-resonite .icon {
    filter: drop-shadow(black 0 0 2px);
}